/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 1080px;
height: 650px;
left: 191px;
top: 59px;

background: #171a1d;
border: 1px solid #7a7d85;
border-radius: 24px;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 1044px;
height: 68px;
left: 216px;
top: 76px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* Ellipse */

position: absolute;
width: 48px;
height: 48px;
left: 236px;
top: 92px;

background: #3d87f2;

/* ● */

position: absolute;
width: 19px;
height: 24px;
left: 251px;
top: 98px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #14171f;

/* ▰ */

position: absolute;
width: 18px;
height: 22px;
left: 247px;
top: 114px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* idéntica a la altura del cuadro */

color: #14171f;

/* Inicio */

position: absolute;
width: 40px;
height: 19px;
left: 428px;
top: 100px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #e0e3e8;

/* Clase */

position: absolute;
width: 43px;
height: 19px;
left: 518px;
top: 100px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #e0e3e8;

/* Crear Clase */

position: absolute;
width: 89px;
height: 19px;
left: 603px;
top: 100px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 60px;
height: 36px;
left: 1173px;
top: 92px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 9px;

/* Rectangle */

position: absolute;
width: 35px;
height: 1px;
left: 1185px;
top: 102px;

background: #7a7d85;

/* Rectangle */

position: absolute;
width: 35px;
height: 1px;
left: 1185px;
top: 110px;

background: #7a7d85;

/* Rectangle */

position: absolute;
width: 35px;
height: 1px;
left: 1185px;
top: 118px;

background: #7a7d85;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 243px;
top: 164px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* ● */

position: absolute;
width: 37px;
height: 48px;
left: 299px;
top: 184px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #3d87f2;

/* API */

position: absolute;
width: 24px;
height: 18px;
left: 306px;
top: 236px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 453px;
top: 164px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* ◈ */

position: absolute;
width: 45px;
height: 48px;
left: 510px;
top: 183px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #2675bf;

/* Docker */

position: absolute;
width: 51px;
height: 18px;
left: 507px;
top: 236px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 663px;
top: 164px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* </> */

position: absolute;
width: 69px;
height: 48px;
left: 708px;
top: 184px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #e0e3e8;

/* HTML / CSS */

position: absolute;
width: 87px;
height: 18px;
left: 700px;
top: 235px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 873px;
top: 164px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* ◉ */

position: absolute;
width: 36px;
height: 48px;
left: 936px;
top: 186px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #cc5226;

/* Ubuntu */

position: absolute;
width: 53px;
height: 18px;
left: 927px;
top: 235px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 243px;
top: 264px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* ◉ */

position: absolute;
width: 36px;
height: 48px;
left: 300px;
top: 284px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #b3b8bf;

/* GitHub */

position: absolute;
width: 50px;
height: 18px;
left: 293px;
top: 336px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 453px;
top: 264px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* ◈ */

position: absolute;
width: 45px;
height: 48px;
left: 510px;
top: 281px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #f2612e;

/* GitLab */

position: absolute;
width: 48px;
height: 18px;
left: 507px;
top: 332px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 663px;
top: 264px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* HTTP/HTTPS */

position: absolute;
width: 95px;
height: 18px;
left: 697px;
top: 335px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 100px;
left: 873px;
top: 264px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 18px;

/* ▤ */

position: absolute;
width: 34px;
height: 48px;
left: 936px;
top: 284px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #e0e3e8;

/* Base de datos */

position: absolute;
width: 102px;
height: 18px;
left: 903px;
top: 331px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #e0e3e8;

/* Tus apuntes / Cursos asignados */

position: absolute;
width: 242px;
height: 19px;
left: 458px;
top: 369px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #e0e3e8;

/* Rectangle */

position: absolute;
width: 520px;
height: 1px;
left: 688px;
top: 377px;

background: #7a7d85;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 1045px;
height: 105px;
left: 213px;
top: 397px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 20px;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 150px;
height: 75px;
left: 243px;
top: 409px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 14px;

/* ◈ */

position: absolute;
width: 35px;
height: 38px;
left: 297px;
top: 422px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 31px;
line-height: 38px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #f2612e;

/* GitLab */

position: absolute;
width: 41px;
height: 16px;
left: 294px;
top: 458px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 150px;
height: 75px;
left: 420px;
top: 409px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 14px;

/* ◈ */

position: absolute;
width: 35px;
height: 38px;
left: 468px;
top: 422px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 31px;
line-height: 38px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #2675bf;

/* Docker */

position: absolute;
width: 44px;
height: 16px;
left: 468px;
top: 458px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 150px;
height: 75px;
left: 590px;
top: 409px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 14px;

/* ◎ */

position: absolute;
width: 28px;
height: 38px;
left: 645px;
top: 422px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 31px;
line-height: 38px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #e0e3e8;

/* DNS */

position: absolute;
width: 28px;
height: 16px;
left: 645px;
top: 458px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #e0e3e8;

/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 150px;
height: 75px;
left: 760px;
top: 409px;

background: #0e1113;
border: 1px solid #7a7d85;
border-radius: 14px;

/* Clase personalizada */

position: absolute;
width: 124px;
height: 16px;
left: 768px;
top: 431px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* idéntica a la altura del cuadro */
text-align: center;

color: #e0e3e8;
